.cls-1 {
    fill: none;
  }
  
  .cls-1, .cls-2, .cls-3, .cls-4 {
    fill-rule: evenodd;
    stroke-width: 0px;
  }
  
  .cls-5 {
    font-family: Comfortaa-Light, Comfortaa;
    font-size: 1296px;
    font-weight: 300;
  }
  
  .cls-2 {
    fill: #4ecdc4;
  }
  
  .cls-3 {
    fill: #ffe66d;
  }
  
  .cls-4 {
    fill: #ff6b6b;
  }